main .home__center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 200px;
  
}

.space{
    width: 100%;
    height: 53.2px;
}

/*latest news section*/

main .home__center .home__lasted__news{
    flex-direction: column;
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 700px;
}

main .home__center .home__lasted__news .section__latestNews__title{
    margin-top: 80px;
}

main .home__center .home__lasted__news .section__latestNews__title a{
    font-size: 2rem;
    font-weight: 900;
    font-family: "Freeman", sans-serif;
    text-transform: uppercase;
}

main .home__center .home__lasted__news .home__news__content{
    margin-top: 50px;
}

main .home__center .home__lasted__news .home__news__content article{
    width: 700px;
    height: 250px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
}

main .home__center .home__lasted__news .home__news__content article .news__image{
    width: 270px;
    height: 190px;
    border-radius: 10px;
    overflow: hidden;
}

main .home__center .home__lasted__news .home__news__content article .news__image a img{
    border-radius: 10px;
    transition: .2s linear;
}

main .home__center .home__lasted__news .home__news__content article .news__image a img:hover{
    transform: scale(1.1);
}

main .home__center .home__lasted__news .home__news__content article .news__content{
    width: 400px;
    height: 190px;
    margin-left: 5%;
    position: relative;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__title{
    max-width: 350px;
    overflow: hidden;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__title .title{
    font-size: 1.375rem;
    font-weight: 800;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__title .title:hover{
    color: red;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__desc{
    padding: 20px 0;
    max-width: 350px;
    overflow: hidden;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__desc .desc{
    line-height: 1.4rem;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__tag{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
    position: absolute;
    border-left: 3px solid red;
    bottom: 5px;
    width: 93px;
    height: 30px;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__tag:hover{
    background-color: red;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__tag:hover a{
    color: white;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__details{
    position: absolute;
    width: 250px;
    bottom: 12px;
    left: 125px;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__details .news__creator{
    position: absolute;
    width: 50%;
    font-style: italic;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__details .news__creator a:hover{
    border-bottom: 1px solid red;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__details .news__hour{
    margin-left: 40%;
}

main .home__center .home__lasted__news .home__news__content article .news__content .news__details .news__hour span{
    font-size: .875rem;
    font-style: italic;
}

/*review section*/

main .home__center .home__reviews{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid;
    width: 400px;
}

main .home__center .home__reviews .section__review__title{
    position: absolute;
    margin-top: 80px;
    left: 10%;
}

main .home__center .home__reviews .section__review__title a{
    font-size: 2rem;
    font-weight: 900;
    font-family: "Freeman", sans-serif;
    text-transform: uppercase;
}

main .home__center .home__reviews .content__reviews{
    margin-top: 190px;
    padding: 15px 0;
}


main .home__center .home__reviews .content__reviews article{
    width: 300px;
    height: 480px;
    display: flex;
    position: relative;
    flex-direction: column;
    
}

main .home__center .home__reviews .content__reviews article .review__content{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

main .home__center .home__reviews .content__reviews article .review__content img{
    border-radius: 10px;
    transition: .2s linear;
}

main .home__center .home__reviews .content__reviews article .review__content img:hover{
    transform: scale(1.1);
}

main .home__center .home__reviews .content__reviews article .review__content .review__desc{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 24px;
    min-height: 66px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFF;
    font-size: 1.125rem;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: 0.005em;
    border-radius: 0 0 10px 10px;
}

/*releases*/

main .home__center .home__reviews .content__reviews .section__releases{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px 0;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .home__center .home__reviews .content__reviews .section__releases .title{
    font-size: 22px;
    padding: 20px 0;
    color: white;
    font-family: var(--titleSection--font);
    text-transform: uppercase;
}

main .home__center .home__reviews .content__reviews .section__releases .release__item{
    width: 90%;
    margin: 10px;
    position: relative;
    display: flex;
    border-bottom: 1px solid white;
}

main .home__center .home__reviews .content__reviews .section__releases .release__item .release__date{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 5%;
    bottom: 8px;
}

main .home__center .home__reviews .content__reviews .section__releases .release__item .release__day span{
    font-weight: 700;
    font-size: 1.1rem;
    margin-left: -5px;
    text-align: center;
    color: white;
}

main .home__center .home__reviews .content__reviews .section__releases .release__item .release__month span{
    color: white;
    font-size: 0.875rem;
    left: 15px;
    top: 25px;
}

main .home__center .home__reviews .content__reviews .section__releases .release__item .release__content{
   width: 70%;
   margin-left: 21%;
   margin-bottom: 8px;
   display: flex;
   flex-direction: column;
}

main .home__center .home__reviews .content__reviews .section__releases .release__item .release__content .release__titleGame a{
    color: #FFF;
    font-weight: 700;
    font-size: 1.1rem;
}

main .home__center .home__reviews .content__reviews .section__releases .release__item .release__content .release__plataforms span{
    color: #FFF;
}
