main .content__main{
    background-color: var(--background);
    position: relative;
    border-left: 1px solid rgba(255,255,255,0.1);
    width: 86.6%;
    margin-top: 4.2em;
}

main .content__main .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

main .content__main .container .customization{
    padding: 40px 30px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

main .content__main .container .customization h1{
    font-size: 1.6rem;
    padding: 20px 0;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
}

main .content__main .container .customization p{
    color: rgba(255,255,255,0.6);
    font-weight: 300;
    font-size: .975rem;
}

textarea::placeholder{
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
}

input::placeholder{
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
}

main .content__main .container .profile{
    height: 100%;
    background-color: var(--background);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    min-height: 91.2vh;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root{
    --primary-color: #1F92BF;
    --secondary-color: #296CA6;
    --black: #000000;
    --white: #FFFFFF;
    --background: rgb(41, 39, 39);
    --yellow: #FFD700;
    --red: #FF0000;
    --namePage--font: 'Anton', sans-serif;
    --titleSection--font: "Bebas Neue", sans-serif;
    --box--shadow: 0.063rem 0.063rem 0.625rem 0.063rem rgba(0, 0, 0, 0.7);
    --grey--principal--section: rgb(223, 223, 223);
}

body{
    padding-top: 80px;
    font-family: "Noto Sans", sans-serif;
    flex-direction: column;
    display: flex;
}

main{
    display: flex;
    background-color: var(--background);
    margin-top: -80px;
    flex: 1 1 0;
}

a{
    text-decoration: none;
    color: black;
}

span{
    color: black;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

